@charset "utf-8";
html,body{
    height:100%;
    color:#FF0088;
    font-family: sans-serif;
}
body{
    background:url(images/4.jpg)center center;
    background-size:cover;
    margin:0;
    padding:0;
    position:relative;
}
#container{
    width:100%;
    text-align:center;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}
h1 {
    font-size: 66px;
    margin-bottom:22px;
}
p {
    font-size: 33px;
    margin-bottom: 22px;
}
a {
    font-size: 55px;
    background: #33ffff;
    color:#fff;
    border:1px solid #33ffff;
    border-radius: 10px;
    padding:10px 66px;
    text-decoration: none;
}